<!DOCTYPE html>
<html>
<head>
<title>mysite</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link href="/assets/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<%-include("../includes/header") %>
		<div id="wrapper">
			<div id="content">
				<div style="text-align: center; line-height: 200px;">
					<h2>죄송합니다. 잠시 후 다시 시도해 주세요 (Error 500)</h2>
				</div>
			</div>
		</div>
		<%-include("../includes/navigation") %>
		<%-include("../includes/footer") %>
	</div>
</body>
</html>